name: gauthierth-fr
services:
  app:
    container_name: gauthierth-fr
    build:
      context: .
    volumes:
      - .:/usr/src/app/
      - /usr/src/app/node_modules
    ports:
      - 3015:3000
    environment:
      - TZ=Europe/Paris
    restart: unless-stopped