.links {
  display: flex;
  flex-direction: column;
}

.link {
  display: flex;
  align-items: center;
  margin: 12px 0;
}
.link img {
  max-width: 24px;
}
.link svg {
  max-width: 30px;
  margin: 0 3px;
}
.link a, .link a:hover {
  color: #000;
  text-decoration: none;
}