@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: Cabin, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  background: #e5e9ec;
}


.container,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 576px) {
  .container,
  .container-sm {
    max-width: 100%;
    padding: 0;
  }
}
@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container,
  .container-sm,
  .container-md {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1140px;
  }
}


h1, h2, h3, h4, h5, h6 {
  font-size: unset;
  font-weight: normal;
}

.gradientButton {
  position: relative;
  border: none;
  border-radius: 5px;
  padding: 10px 18px;
  color: #fff;
  font-size: 16px;
  background: linear-gradient(270deg, #572DFF 4.66%, rgba(158, 134, 255, 0.508197) 62.51%, rgba(255, 255, 255, 0) 100.03%), linear-gradient(0deg, #0DC5FF, #0DC5FF);
  cursor: pointer;
  outline: none;
  text-decoration: none;
}
.gradientButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color ease 0.2s;
}
.gradientButton:hover::before {
  background-color: rgba(0, 0, 0, 0.1);
}